<header>
   
    <nav>
        <a href="/" class="navLink">Home</a>
        <a href="/board" class="navLink">Message Board</a>
        <a href="/user"class="navLink" id="login">Login</a>
    </nav>

    <div id="titleDiv">
        <h1>Member Message Board</h1>
    </div>
    
</header>