<head>
    <meta charset="utf-8" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles/reset.css"/>
    <link rel="stylesheet" href="/styles/global.css"/>
    <link rel="stylesheet" href=<%- stylesheet %> />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lobster&display=swap" rel="stylesheet">
</head>