<!DOCTYPE html>
<html>
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <h1> <%= currentUser.username%>'s Dashboard</h1>
        <p><%=currentUser.first_name currentUser.last_name currentUser.email%></p>
    </body>
</html>