<DOCTYPE ! html>
    <html>
        <%- require('/partials/head') %>
        <body>
            <%- require('/partials/header') %>
            <main>
                <h1><%- title %></h1>
                <h2></h2>
            </main>
        </body>
    </html>
</DOCTYPE>