<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>

        <h1>Login Page</h1>

        <form action="/user/logIn" method="POST">
            <% if (errors && errors.length > 0) { %>
                <% errors.forEach((err) => { %>
                    <p><%=err.msg%></p>
               <% }) %>
           <% } %>
            <div>
                <label for="username" >Username: </label>
                <input name="username" id="username" required value="<%= (data && data.username) ? data.username : '' %>">
            </div>

            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>