main {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#dashContent {
    margin: 3rem 1rem;
    grid-area: 1/2/2/3;
    background-color: rgb(234, 240, 208);
    border-radius: 10px;
    padding: 2rem;
    display: grid;
    grid-template: .5fr 1fr / 1fr;
}

#dashContent h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#userCard {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: fit-content;
    background-color: white;
    padding: 0 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    gap: 1rem;
}

#userCard img {
    height: 9rem;
    width: 9rem;
}

#userInfo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Lexend', sans-serif;
}

#userInfo ul {
    list-style: none;
    padding: 0;
}