header {
    display: flex;
    flex-direction: column;

}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    justify-content: center;
    padding: .6rem 0;
    background-color: rgb(234, 240, 208);
    box-shadow: 0rem 0 .2rem black;
}

#pageLinks{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    gap: 1.1rem;
}

#userProfileCtr {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: end;
    gap: 1.1rem;
    padding-right: 3rem;
}

#userProfile {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}

.navLink {
    width: 140px;
    text-align: center;
    padding: .2rem 1.1rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: 'Lexend', sans-serif;
}

.navLink:hover {
    border-radius: 10px;
    box-shadow: 0 0 .2rem black;
    background-color: rgb(182, 173, 173);
}

#titleDiv {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 240, 208);
    padding: 1rem 0;
    font-family: 'Lobster', sans-serif;
    font-size: 32px;
}



