main {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
}

#content {
    margin-top: 4rem;
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 240, 208);
    border-radius: 10px;
    padding: 2rem;
}

#content h1 {
    
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

#content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    background-color: rgb(226, 220, 220);
    padding: 3rem;
    border-radius: 10px;
    font-size: 1.3rem;
}

#content div {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    align-items: center;
    gap: .5rem;
}

#content button{
    border: none;
    padding: .5rem 2rem;
    background-color: rgb(234, 240, 208);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px black;
}

#content button:hover {
    background-color: white;
    box-shadow: none;
}

#content label {
    justify-self: end;
}

#errorMessage {
    color: red;
    background-color: beige;
    border-radius: 10px;
    padding: .1rem 1rem;
    transform: translateY(-1rem);
}